$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//Colors
$dark-magent: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-gray-magenta: hsl(303, 10%, 53%);
$light-gray-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);


//Typography
$base-font-size: 15px;

//Radius
$border-radius: 8px;